body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	color: #666666;
	line-height: 160% ;
	/*background-image: url("/app/images/fondohome.png");
	 background-repeat: no-repeat;*/
}
h2{
	color:#333333;
	font-size: 26px;
}
h3{
	color:#333333;
	font-size: 20px;
}

form.form-contacto div.form-group input{
	color: #666666;
	font-size: 19px;
	background-color: #F0F0F0;
	border: none;
	border-radius: 0;
	width:563px; 
	height:36px;	
}
.padding{
	margin-top: 20px;

}
form.form-contacto div.form-group textarea{
	color: #666666;
	font-size: 19px;
	background-color: #F0F0F0;	
	border:none;
	border-radius: 0;
	resize: none;
	width: 563px;
}

.lineamarilla{
	border-top: 1px solid #FFD21F ;
	margin-top: 30px;
	padding-top: 30px;
}
.lineagris{
	border-top: 1px solid #DDDDDD;

}
.h2-color{
	color:#FF9900
}
.row{
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 20px;
}
.footer{
	padding-top: 15px;
}
.footer div{
	display: inline-block;
	padding-right: 20px;
}
.container.header{
	background-color: #333333;
	height: 104px;
}
.product{
	width: 180px;
	height: 276px;
}
.product div{
	background-color:white;
	/*padding: 10px;*/
	margin:  10px 0 10px 0 ;
	padding: 0;	
}
.productName{
	font-size: 16px;
	border-top: 1px solid #CC0000;

}
div.productName{
	padding-top: 10px;
}
.categoria{
	margin-top: 10px;
	padding: 10px;
}
a.thumbnail {
	margin: 0;
	height: 266px;
	text-decoration: none;
	color: #333333;
}
.telefono span{
	font-size: 24px;
	color: #FFFF00;
}
#email span{
	color: #FFFFFF;
	font-size: 16px;
}

.colorheader a{
	font-size: 18px;
	color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a {
	color: #FFFFFF; 
}
.nav.navbar-collapse.colorheader{
	margin-top: 30px;
}
ul.nav.navbar-nav.navbar-right{
	margin-top: -15px;
}
a.navbar-brand{
	padding-left: 0px;
}
ul.nav.navbar-nav{
	margin-left: 30px;
}
.navbar-default {
	margin-top: 15px;
	background-color: #333333;
	border-color: transparent;
}
#bordeado{	
	border-left: 1px solid #FFFFFF;	
	border-right: 1px solid #FFFFFF;
}
#contenthome{
	width: 1140px;
	height: 459px;
	/*border: 1px solid red;*/
/*	background-image: url("/app/images/fondohome.png");
*/	background-repeat: no-repeat;
	/*position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;*/
}
.description{

	position:absolute;
	bottom: 150px;
}
.description h1{
	color:white;
}
#bgimg{
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.catalogo{
	color: #990000;
	font-size: 24px;
	margin-top: 5px;
	font-weight: 650;
}
.categoria span{	
	font-size: 36px;
	color: #000000;
}
.product-section{
	width: 100%;
	background-color: #E6E6E6;
}
@media (max-width: 991px){
	.infoheader{
		display:none;
	}
}
