<div class="container padding lineagris">
	<div class="row">
		<div class="no-block col-md-6">
			<div class="detailName">
				<h2>{{productos.nombre_producto}}</h2>
			</div>
			<div class="productDesc">
				<br>
				<h3>Características</h3>
				<br>
				<ul class="featuresList" type="disk">
					<li ng-repeat="caracteristica in productos.Caracteristicas">{{caracteristica}}
					</li>					
				</ul>
				<br>
				<div class="cotizar">¿Desea obtener más información de este producto? Diligencie el siguiente formulario y solicite una cotización.</div>
				
				
				<br>
			<div class="col-md-6 " ng-controller="FormController">      	
			
				<form ng-submit="submit(contactform)" class="form-contacto" name="contactform" role="form" method="post" action="">        

	          		<div class="form-group" ng-class="{ 'has-error': contactform.asunto.$invalid && submitted }">				    
				    <input ng-model="formData.asunto" type="text" class="form-control" name="asunto" id="asunto" placeholder="Asunto" required>
				  	</div>
			  		<div class="form-group" ng-class="{ 'has-error': contactform.nombre.$invalid && submitted }">				    
				    <input ng-model="formData.nombre" type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" required>
				  	</div>

				  	<div class="form-group" ng-class="{ 'has-error': contactform.email.$invalid && submitted }">				    
				    <input ng-model="formData.email" type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
				  	</div>

				  	<div class="form-group" ng-class="{ 'has-error': contactform.celular.$invalid && submitted }">				    
				    <input ng-model="formData.celular"type="text" class="form-control" name="celular" id="celular" placeholder="Celular" required>
				  	</div>
				  	<div class="form-group" ng-class="{ 'has-error': contactform.mensaje.$invalid && submitted }">
				  	<textarea ng-model="formData.mensaje" type="text" class="form-control" name="mensaje" id="mensaje" placeholder="Mensaje" required rows="4"></textarea>
				  	</div>        

					
		            <div class="form-group">                     
					    <button type="submit" value="Submit" class="btn btn-success btn-red" ng-disabled="submitButtonDisabled">Solicitar Cotización</button>
		            </div>
				</form>       
			</div>                  
			    <!-- <button ng-click="submit()" type="submit" value="Submit" class="btn btn-success btn-red" ng-disabled="submitButtonDisabled">Enviar un mensaje para cotización</button> -->
		           
			</div>	

		</div>		
		<!--  <div class="col-md-6">
			<div class="no-controls" ng-controller="CarouselDetail">        
	          <carousel interval="myInterval">
	            <slide ng-repeat="slide in slides" active="slide.active">
	              <img ng-src="{{slide.image}}" style="margin:auto;">
	              <div class="carousel-caption">
	                <h4>Slide {{$index}}</h4>
	                <p>{{slide.text}}</p>
	              </div>
	            </slide>
	          </carousel>
	        </div>
		</div>  -->


	<div class="col-md-6 slider" ng-controller="detailController">
		<div class="slider-img">
			<ul rn-carousel rn-carousel-index="slideIndex2" class="my-slider ng-cloak">
            <li ng-repeat="slide in slides2" ng-style="{'background-image': 'url(' + slide.image + ')'}"></li>
        </ul>
		</div>
		<div class="slider-thumbnail">
			<div class="ng-cloak thumbs">
            	<div class="thumb2" ng-repeat="slide in slides2" ng-click="$parent.slideIndex2=$index" ng-style="{'background-image': 'url(' + slide.image + ')'}" ng-class="{'is-active': ($parent.slideIndex2==$index)}">
            	</div>
        	</div>
		</div>
        
	</div>
		
	</div>
	<!-- <div class="row">
		<div class="no-block col-md-6">
		    slider container
		    <div class="container slider" ng-controller="MainCtrl">
		        enumerate all photos
		        <img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}" />
		        prev / next controls
		        <a class="arrow prev" href="#" ng-click="showPrev()"></a>
		        <a class="arrow next" href="#" ng-click="showNext()"></a>
		        extra navigation controls
		        <ul class="nav">
		            <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
		                <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
		            </li>
		        </ul>
		    </div>
		</div>
	</div>  -->

<div class="footer">
    <div class="mapasitio">
        <a href="#/mapasitio">Mapa del sitio</a>
    </div>
    <div class="terminos">
        <a href="#/terminos">Términos y políticas de uso</a>
    </div>

</div>
</div>