<div class="container padding lineagris">
	<div class="row">
		<div class="no-block col-md-6">
			<div class="detailName">
				<h2>{{productos.nombre_producto}}</h2>
			</div>
			<div class="productDesc">
				<br><br><br>
				<h3>Características</h3>
				<br>
				<ul class="featuresList" type="disk">
					<li ng-repeat="caracteristica in productos.Caracteristicas">{{caracteristica}}
					</li>					
				</ul>
				
			</div>	

		</div>		
		<!--  <div class="col-md-6">
			<div class="no-controls" ng-controller="CarouselDetail">        
	          <carousel interval="myInterval">
	            <slide ng-repeat="slide in slides" active="slide.active">
	              <img ng-src="{{slide.image}}" style="margin:auto;">
	              <div class="carousel-caption">
	                <h4>Slide {{$index}}</h4>
	                <p>{{slide.text}}</p>
	              </div>
	            </slide>
	          </carousel>
	        </div>
		</div>  -->


	<div class="col-md-6 slider" ng-controller="DemoCtrl">
		<div class="slider-img">
			<ul rn-carousel rn-carousel-index="slideIndex2" class="my-slider ng-cloak">
            <li ng-repeat="slide in slides2" ng-style="{'background-image': 'url(' + slide.image + ')'}"></li>
        </ul>
		</div>
		<div class="slider-thumbnail">
			<div class="ng-cloak thumbs">
            	<div class="thumb2" ng-repeat="slide in slides2" ng-click="$parent.slideIndex2=$index" ng-style="{'background-image': 'url(' + slide.image + ')'}" ng-class="{'is-active': ($parent.slideIndex2==$index)}">
            	</div>
        	</div>
		</div>
        
	</div>
		
	</div>
	<!-- <div class="row">
		<div class="no-block col-md-6">
		    slider container
		    <div class="container slider" ng-controller="MainCtrl">
		        enumerate all photos
		        <img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}" />
		        prev / next controls
		        <a class="arrow prev" href="#" ng-click="showPrev()"></a>
		        <a class="arrow next" href="#" ng-click="showNext()"></a>
		        extra navigation controls
		        <ul class="nav">
		            <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
		                <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
		            </li>
		        </ul>
		    </div>
		</div>
	</div>  -->

</div>