<div class="container" id="contenthome">
    <img id="bgimg" src="../images/fondohome.png">
    <div class="description col-md-5">
        <h1>Texto referente para destacar un producto con el objetivo de promocionar o dar relevancia</h1>
    </div>
</div>
<div class="container">
    <div class="catalogo">
        <span >Catálogo de Productos</span>
        <img src="images/glyphicon-download.png">
    </div>
</div>
<div class="product-section">
    <div class="container categoria" ng-repeat="categoria in categorias">
        <span>{{categoria.NombreCategoria}}</span><br>
        <div class="product col-md-2 col-lg-2" ng-repeat="producto in productos">
            <div class="productImg  thumb">
                <a class="thumbnail" href="#/productos/{{producto.nombre_producto}}">
                    <img src="{{producto.Imagenes[0]}}">
                    <div class="divider-red"></div>
                        {{producto.nombre_producto}}
                        <!-- {{producto.Caracteristicas[0]}} -->                    
                </a>                
            </div>            
        </div>
    </div>
    
</div>
<div class="footer container">
    <div class="mapasitio">
        <a href="#/mapasitio">Mapa del sitio</a>
    </div>
    <div class="terminos">
        <a href="#/terminos">Términos y políticas de uso</a>
    </div>

</div>